<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="body-container">

      <div class="navigation-container">
        <ul class="nav">
          <li class="logo">
            <img src="y18.gif" class="image-border">
          </li>
          <li>
            <a href="#" id="home">Slacker News</a>
          </li>
          <li>
            <a href="#">new</a>
          </li>
          <li> | </li>
          <li>
            <a href="comments.html">comments</a>
          </li>
          <li> | </li>
          <li>
            <a href="#">ask</a>
          </li>
          <li> | </li>
          <li>
            <a href="#">jobs</a>
          </li>
          <li> | </li>
          <li>
            <a href="/submit">submit</a>
          </li>
          <li id="login">
            <a href="#">login</a>
          </li>
        </ul>
      </div>

      <div class="content-container">
        <ol class="content-list">
          <% if @articles == [{}] %>
            <p><%= @no_articles %></p>
          <% else %>
            <% count = 1 %>
            <% @articles.each do |article| %>
              <li>
                <%= count %>.
                <a href="vote-up"><img src="grayarrow.gif"></a>
                <span class="article-title"><%= article[:title] %></span>
                <a href="<%= article[:url] %>" class="source">(<%= article[:url] %>)</a>
                <br>
                <span class="margin">
                <span class="source"><%= article[:description] %></span>
                <br>
                <span class="margin">
                <span class="user">Posted by:
                <a href="#" class="user"><%= article[:user] %></a>
                at <%= PrettyDate::to_pretty(article[:time]) %> |
                <a href="#" class="user">0 comments</a>
                </span>
                </span>
                </span>
              </li>
              <% count += 1 %>
            <% end %>
          <% end %>
          <li>
            <a href="#" class="more">More</a>
          </li>
        </ol>
      </div>

      <div class="footer-container" >
        <ul class="footer-links">
          <li><a href="#" class="footer-link">Lists</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">RSS</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Bookmarklet</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Guidelines</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">FAQ</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">DMCA</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">News News</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Feature Requests</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Bugs</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Y Combinator</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Apply</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Library</a></li>
          </ul>
        </div>

    </div>

  </body>

</html>
